<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- 配置hibernate映射组件 -->
<hibernate-configuration>
	<session-factory>
		<mapping resource="hbm/ShiyanshiInfo.hbm.xml" />
		<mapping resource="hbm/Code.hbm.xml" />
		<mapping resource="hbm/CodeType.hbm.xml" />
		<mapping resource="hbm/Wangzhan.hbm.xml" />

	</session-factory>
</hibernate-configuration>