<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN/EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 配置DAO组件 -->
	<bean id="shiyanshiDAO" class="com.gzmh.dao.impl.ShiyanshiDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="codeDao" class="com.gzmh.dao.impl.CodeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="codeTypeDao" class="com.gzmh.dao.impl.CodeTypeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="iWangzhanDAO" class="com.gzmh.dao.impl.WangzhanDAOImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>