@charset "utf-8";
/* CSS Document */
body{
	background-color: #CCC;
    padding-top: 15px;
    background: url(img/beijing.gif);
	width:100%;
	margin: 0px auto;
	min-width: 780px;
    max-width: 1349px;
	width:expression(document.body.clientWidth < 782? "780px" : document.body.clientWidth > 1349? "1349px" : "auto");


}

#wrap{
	width: 1000px;
    background: white;
    margin: 0px auto;
	margin-top:-22px;
}

#head {
    height: 95px;
    width: 1000px;
	background: url(img/header_bg.jpg) no-repeat;
	
	
}

ul#menu {
  height: 30px;
  width: 1000px;
  margin-left:27px;
  margin-top:5px;
  padding: 0px 0px 0px 0px;
  background-image: url(img/navbg.jpg);
  background-repeat:no-repeat;
  background-position: left top;
  
}
ul#menu li {
cursor: pointer;
color: white;
list-style-type: none;
width: 115px;
float: left;
line-height: 28px;
font-weight: bold;
text-align: center;
}

.mainTitle {
clear: both;
height: 19px;
display: block;
background: url(img/dian3.gif) repeat-x left 7px;
width: 890px;
margin: 0 auto;
margin-top: 28px;
margin-bottom: 7px;
}
.divMain {
clear: both;
width: 890px;
margin: 0 auto;
color: #555;
height: auto;
min-height: 300px;
font-size: 12px;
font-family: arial,"";
}
.sideBar {
float: left;
width: 175px;
height: 24px;
float: left;
margin-top: 20px;
padding-top: 5px;
}
.sideBar ul {
clear: both;
border-top: 1px #CCC dashed;
}
.sideBar ul li {
display: inline;

float:left;
margin-left:-40px;
}
.sideBar ul li a {
width: 145px;
display: block;
border-bottom: 1px #CCC dashed;
height: 24px;
line-height: 24px;
background: url(img/jiao.gif) no-repeat 12px 10px;
padding-left: 28px;
font-weight: bold;
font-size: 12px;
color: #666;
text-decoration: none;

}
.sideBar ul li a:hover {
color: #063;
text-decoration: none;
}
.mainRight {
float: right;
width: 660px;
margin-top:-5px;
margin-right:20px;
}
.mTitle {
clear: both;
display: block;
height: 26px;
line-height: 20px;
font-weight: bold;
color:#063;
background: url(img/dian5.gif) repeat-x left bottom;


}
.mTitle span {
display: block;
background: url(img/yuandian.gif) no-repeat 2px 7px;
padding-left: 17px;
font-size: 14px;
}
.txtimgList3 {
clear: both;
padding-top: 20px;
float:left;
margin-top:-30px;
}
.txtimgList3 dl {
padding: 10px;
margin-bottom: 10px;
height: 110px;
overflow: hidden;
}
.txtimgList3 dl dt {
height: 30px;
line-height: 25px;
background: url(img/dian5.gif) repeat-x left bottom;
}
.txtimgList3 dl dt a {
color:#063;
font-weight: bold;
font-size: 13px;
text-decoration: none;
background: url(img/jiantou.gif) no-repeat left 3px;
padding-left: 15px;
}
.txtimgList3 dl dt a:hover {
color: #C00;
text-decoration: none;
}

.txtimgList3 dl dd {
padding-top: 10px;
line-height: 18px;
}
a {
color: #1F3A87;
text-decoration: none;
}
.txtimgList3 dl dd img {
display: block;
float: left;
margin-right: 10px;
margin-top: 2px;
}
.clearDiv{
	clear: both;
    font-size: 0px;
    height:20px;
}
#footer {
    clear: both;
    margin: 0 auto;
    width: 1000px;
    height: 70px;
    margin-top: 5px;
    padding-top: 23px;
    background: url(img/index_90.jpg) repeat-x;
}
#footer .footerTxt {
    clear: both;
    border-top: 1px #DBDBDB solid;
    text-align: center;
    color: #333;
    font-size: 11px;
    line-height: 24px;
    padding-top: 10px;
}
#footer .footerTxt span {
    color: #666;
}
